@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it is on top of other elements */
  transition: opacity 0.2s ease; /* Transition de 2 secondes */
  z-index: 1;
}

.overlay-hidden {
  opacity: 0;
  pointer-events: none; /* Disable interaction when hidden */
}

.overlay-visible {
  opacity: 1;
}

.quick-opacity-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.image-box-sizing {
  object-position: 0px 30%;
}

.shadow-manga-list {
  box-shadow: inset 0 0 0 3px rgb(77, 75, 75);
}
